extends layout

block content
  
  div(id="gameArea")

  script(id="intro-screen-template" type="text/template").
    <div class="titleWrapper">
                <div class="title">
                kwispel
            </div>

            <div class="buttons">
                <select id="gameTypes">
                    <option value="1">Fast Game</option>
                    <option value="2">Turn-based Game</option>
                </select>
                <label for="nUsers">Number of users: </label>
                <input type="number" id="nUsers">
                <button id="btnCreateGame" class="btn left">CREATE</button>                
                <button id="btnJoinGame" class="btn right">JOIN</button>
                <div style="clear:both"></div>
                <div id="mid">
                <input class="btn" type="button" value="LEADER BOARD" id="leaderboard">
                </div>
            </div>
      </div>
  
  script(id="create-game-template" type="text/template").
    <div class="createGameWrapper">
      <div class="info">Open this site on your mobile device:</div>
      <div id="gameURL" class="infoBig">Error!</div>

      <div class="info">Then click <strong>JOIN</strong> and <br/> enter the following Game ID:</div>
      <div id="spanNewGameCode" class="gameId">Error!</div>

      <div id="playersWaiting"></div>
    </div>

  script(id="join-game-template" type="text/template").
    <div class="joinGameWrapper">
      <div class="info">
          <label for="inputPlayerName">Your Name:</label>
          <input id="inputPlayerName" type="text" />
      </div>

      <div class="info">
          <label for="inputGameId">Game ID:</label>
          <input id="inputGameId" type="text"/>
      </div>

      <div class="info buttons">
          <button id="btnStart" class="btn">Start</button>
          <div id="playerWaitingMessage"></div>
      </div>
    </div>

  script(id="host-game-template" type="text/template").
    <div id="wordArea">
        <div id="hostWord">5</div>
    </div>
    <div id="playerScores">
    </div>

  script(id="leaderboard-template" type="text/template").
    <div id="banner">Leader Board</div>
        <hr>


  script(src="libs/textFit.min.js")
  script(src="libs/fastclick.js")
  script(src="/socket.io/socket.io.js")
  script(src="/appQuiz.js")

